<h2 mat-dialog-title>Malfunction</h2>
<mat-dialog-content>
    <form class="manufacturerForm">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input type="text" matInput [formControl]="name" autocomplete="off">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Country</mat-label>
            <input type="text" matInput [formControl]="country" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input type="text" matInput [formControl]="address" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Phone</mat-label>
            <input type="text" matInput [formControl]="phone" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fax</mat-label>
            <input type="text" matInput [formControl]="fax" autocomplete="off">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="text" matInput [formControl]="email" autocomplete="off">
          </mat-form-field>
    </form>
      
</mat-dialog-content>
<mat-dialog-actions style="display:flex;justify-content: right;">
  <button mat-button mat-dialog-close>Discard</button>
  <button id="addBtn" (click)="onAdd()" mat-button >Add</button>
</mat-dialog-actions>

  
